img {
  width: 100%;
}
ul li {
  list-style-type: none;
}
.p-main-visual {
  position: relative;
  margin: 0 0 10px;
}
.swiper-pagination {
  inset: calc(100% - 10px) 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.p-countdown-dom {
  position: absolute;
  bottom: 13%;
  width: 100%;
  transform: translateY(50%);
}
.p-countdown-dom .counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 3vw;
}
.p-countdown-dom .entry {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px 2vw;
  font-size: 3.8vw;
  color:#ffffff;
  line-height: 3.2vw;
  font-family:ヒラギノ角ゴ Pro W6;
  font-weight:bold;
}
.p-countdown-dom .entry:first-child {
  margin: 0 0 10px 0;
}