body, a {
  color: #333;
}
img {
  width: 100%;
}
figure {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 2rem auto;
}
.side {
  position: sticky;
  top: 10px;
  height: 100%;
  order: 2;
  width: 20%;
}
.side h1 {
  font-size: 16px;
  padding: 10px 0px;
  border-bottom: 1px solid black;
}
.side ol {
  padding: 0;
  list-style-type: none;
}
.side .index a {
  padding: 10px;
  display: block;
}
.side .index a.active {
  color: #fff;
  background-color: #333;
}
.contents {
  width: calc(80% - 20px);
  padding: 0 20px 0 0;
}
.contents .box {
  margin: 0 0 2rem;
  padding: 0 0 2rem;
  border-bottom: 1px solid #333;
}