h1 {
  background: #87bbe2;
  text-align: center;
  margin: 0;
  padding: 10px;
}
section {
  margin: 0;
  padding: 20px;
  height: 1000px;
  background-color: #a7cfed;
}
section h2 {
  margin: 0;
}
section:nth-child(odd) {
  background-color: #90bfe4;
}