/**
* common
**/

:root {
  --gray: #666;
  --white: #fff;
  --yellow: #EECA5D;
  --yellowtwo: #f6e464;
  --black: #000;
  --pink: #d77584;
  --pinktwo: #ff9db5;
  --green: #ebffeb;
  --brown: #752b42;
  --pinkthree: #f0608b;
  --red: #af2d13;
  --waterblue: #8ed3dd;
  --green: #77B236;
  --green2: #446124;
  --browntwo: #9b6e35;
}
.kirby_wrap *:before,
.kirby_wrap *:after {
  content: "";
}

body {
  margin: 0;
  font-family: monospace;
}

.wrapper {
  background-color: var(--yellowtwo);
  height: 100vh;
}

/**
* kirby
**/
.kirby_wrap {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 55%;
  left: 50%;
  width: 15%;
  height: auto;  
}
.doragon_cap {
  background: var(--green);
  border-radius: 42% 45% 42% 42% / 100% 100% 0% 0%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 10%;
  left: 50%;
  width: 95%;
  height: 50%;
  z-index: 10;
  box-shadow: 0 0 0 1px var(--black);
}
.doragon_cap:after {
  background: var(--pinktwo);
  border-radius: 42% 45% 42% 42% / 100% 100% 0% 0%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 90%;
  left: 50%;
  width: 103%;
  height: 30%;
  z-index: 10;
  box-shadow: 0 -1px 0 0 var(--black);
}
.dragon_nose {
  width: 35%;
  height: 35%;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  background: var(--green);
  transform: rotate(-0deg);
  box-shadow: 0px 0px 0 1px var(--black);
  position: absolute;
  right: 28%;
  top: 41%;
  z-index: 50;
}
.dragon_nose:before,
.dragon_nose:after{
  width: 10%;
  height: 15%;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  background: var(--black);
  transform: rotate(-0deg);
  box-shadow: 0px 0px 0 1px var(--black);
  position: absolute;
  right: 65%;
  top: 30%;
  z-index: 60;
}
.dragon_nose:after{
  right: 25%;
}
.dragon_nose_sub {
  width: 50%;
  height: 70%;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  background: var(--green);
  transform: rotate(-0deg);
  box-shadow: 1px 0 0 0 var(--black);
  position: absolute;
  right: -15%;
  top: 20%;
  z-index: 50;
}
.dragon_nose_sub.two {right: 65%;box-shadow: -1px 0 0 0 var(--black);}
.dragon_fang {
  background: #ffffff;
  height: calc(tan(60deg) * 35% / 2);
  width: 100%;
  right: -35%;
  top: 70%;
  clip-path: polygon(50% 0, 50% 100%, 0 100%);
  transform: rotate(110deg);
  position: absolute;
  z-index: 60;
}
.dragon_fang.two {right: 32%;transform: rotate(80deg);}
.dragon_beard{
  position: absolute;
  background-color: var(--yellow);
  width: 3%;
  height: 30%;
  top: 51%;
  right: 19%;
  border-radius: 50% 50% 50% 50% / 10% 10% 50% 50%;
  z-index: 50;
  transform: rotate(-60deg);
  box-shadow: 0 0 0 1px black;
}
.dragon_beard:before {
  position: absolute;
  background-color: var(--yellow);
  width: 80%;
  height: 18%;
  top: 70%;
  right: 18%;
  z-index: 20;
  border-radius: 50%;
}
.dragon_beard:after {
  position: absolute;
  background-color: var(--yellow);
  width: 100%;
  height: 200%;
  top: 60%;
  right: 300%;
  border-radius: 50% 50% 50% 50% / 10% 10% 50% 50%;
  z-index: 10;
  transform: rotate(40deg);
  box-shadow: 1px 0 0 0px black, -1px 0 0 0 black;
}
.dragon_beard.two {
  top: 54%;
  right: 68%;
  transform: rotate(60deg);
}
.dragon_beard.two:after {
  transform: rotate(-40deg);
  right: -300%;
}
.dragon_eyebrows {
  width: 15%;
  height: 10%;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  background: var(--browntwo);
  transform: rotate(-10deg);
  box-shadow: 0px 0px 0 1px var(--black);
  position: absolute;
  right: 14%;
  top: 20%;
  z-index: 20;
}
.dragon_eyebrows.two {
  right: 63%;
  top: 20%;
  transform: rotate(10deg);
}
.dragon_year {
    width: 30%;
    height: 30%;
    border-radius: 50% 50% 47% 53% / 36% 35% 65% 64%;
    background: var(--green);
    transform: rotate(180deg);
    box-shadow: 0px 0px 0 1px var(--black);
    z-index: 10;
    position: absolute;
    right: -8%;
    top: 10%;
}
.dragon_year:after {
    position: absolute;
    width: 40%;
    height: 120%;
    background: var(--green);
    left: 80%;
    top: -30%;
}
.dragon_year.two {
    transform: rotate(0deg) rotateX(180deg);
    right: 77%;
}
.dragon_hair, .dragon_hair:before, .dragon_hair:after{
    position: absolute;
    background-color: var(--browntwo);
    width: 32%;
    height: 76%;
    z-index: 20;
}
.dragon_hair:before, .dragon_hair:after{width: 100%;height: 100%;}
.dragon_hair {
    left: 52%;
    top: -35%;
    transform: translate(-50%, 0) scaleY(.4) scaleX(1);
}
.dragon_hair:before {
    transform: rotate(30deg);
}
.dragon_hair:after {
    transform: rotate(-30deg);
}
.dragon_hair.bg, .dragon_hair.bg:before, .dragon_hair.bg:after{
  box-shadow: 0px 0px 0px 1px var(--black);
  z-index: 11;
}
.dragon_eye {
  position: absolute;
  background: var(--black);
  width: 4%;
  height: 20%;
  z-index: 100;
  border-radius: 50%;
  transform: rotate(-180deg);
  top: 30%;
  left: 33%;
}
.dragon_eye.two {
  transform: rotate(-0deg) rotateX(-155deg);
  top: 30%;
  left: 70%;
}
.dragon_horn, .dragon_horn:before, .dragon_horn:after {
  position: absolute;
  background-color: var(--browntwo);
  width: 5%;
  height: 100%;
  top: -80%;
  right: 10%;
  border-radius: 50% 50% 0 0 / 10% 10% 0 0;
  z-index: 10;
  transform: rotate(25deg);
}
.dragon_horn:before {
  height: 50%;
  width: 75%;
  border-radius: 50% 50% 0 0 / 20% 20% 0 0;
  top: 10%;
  left: 90%;
  transform: rotate(25deg);
  z-index: -1;
}
.dragon_horn:after {
  height: 50%;
  width: 75%;
  border-radius: 50% 50% 0 0 / 20% 20% 0 0;
  top: 20%;
  left: -70%;
  transform: rotate(-25deg);
  z-index: -1;
}
.dragon_horn.two {right: 85%;transform: rotate(-25deg);}

.kirby_content {
  animation: kirbymove .25s ease-in-out infinite;
}
.kirby_content .kirby_inner {
  background: linear-gradient(135deg, var(--pinktwo) 70%, var(--pink));
  border-radius: 50%;
  width: 100%;
  padding: 100% 0 0;
  box-shadow: 0 0 0 0.05vw var(--black);
}
.kirby_content .kirby_inner .tears,
.kirby_content .kirby_inner .eye,
.kirby_content .kirby_inner .mouth,
.kirby_content .kirby_inner .cheek,
.kirby_content .kirby_inner .hand,
.kirby_content .kirby_inner .foot {
  position: absolute;
  transition: all ease-in-out .3s;
}
.kirby_content .kirby_inner .eye {
  width: 10%;
  padding: 30% 0 0;
  background: var(--black);
  border-radius: 44%;
  top: 23%;
  left: 34%;
  animation: eye 5s ease-out infinite;
  z-index: 30;
} 
.kirby_content .kirby_inner .eye:before {
  background-color: var(--white);
  position: absolute;
  width: 60%;
  height: 45%;
  border-radius: 44%;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  animation: eye-before 5s ease-out infinite;
}
.kirby_content .kirby_inner .eye:after {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  top: -10%;
  z-index: 1111;
  transform: rotate(60deg);
  left: -27%;
  padding: 150% 0 0;
  background-image: linear-gradient(90deg, var(--pinktwo) 0 95%, var(--black) 95% 100%);
}
.kirby_content .kirby_inner .eye.two {
  left: 65%;
}
.kirby_content .kirby_inner .eye.two:after {
  transform: rotate(-60deg);
  background-image: linear-gradient(-90deg, var(--pinktwo) 0 95%, var(--black) 95% 100%);
  left: 27%;
}
.kirby_content .kirby_inner .mouth {
  position: absolute;
  top: 65%;
  left: 48%;
  z-index: 50;
  height: 12%;
  width: 15%;
  border-radius: 47% 53% 50% 50% / 15% 13% 87% 85%;
  background: var(--brown);
  animation: mouthmove 1s ease-in-out infinite alternate;
}
.kirby_content .kirby_inner .mouth:after {
  width: 100%;
  height: 100%;
  padding: 0% 0 0 0;
  position: absolute;
  background: var(--white);
  filter: blur(2vw);
  will-change: filter;
  z-index: 500;
  border-radius: 60% 60% 50% 50%/60% 60% 50% 50%;
  right: 0;
  bottom: 0%;
  opacity: 0;
  animation: 1s linear infinite mokumoku 1s;
}
.kirby_content .kirby_inner .mouth:before {
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%;
  border-radius: 40% 40% 50% 50%/40% 40% 50% 50%;
  background: var(--pinkthree);
  display: block;
  position: absolute;
}
.kirby_content .kirby_inner .tears {
  top: 57%;
  right: 27%;
  display: none;
  width: 0%;
  height: 0%;
  background: var(--waterblue);
  border-radius: 70% 70% 50% 50%/70% 70% 50% 50%;
  animation: tears 5s ease-out infinite;
}
.kirby_content .kirby_inner .cheek {
  background-color: var(--pinkthree);
  position: absolute;
  top: 56%;
  left: 16%;
  filter: blur(0.1vw);
  width: 20%;
  height: 10%;
  border-radius: 50%;
  transform: rotate(-10deg);
  z-index: 3;
}
.kirby_content .kirby_inner .cheek.two {
  left: auto;
  right: 5%;
  transform: rotate(10deg);
}
.kirby_content .kirby_inner .hand {
  position: absolute;
  top: 34%;
  left: -15%;
  background: linear-gradient(-155deg, var(--pinktwo) 70%, var(--pink));
  border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  width: 30%;
  padding: 30% 0 0;
  box-shadow: 0 0 0 0.05vw var(--black);
  transform: rotate(0deg);
}
.kirby_content .kirby_inner .hand:after {
  background: var(--pinktwo);
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -20%;
  transform: rotate(-3deg);
}
.kirby_content .kirby_inner .hand.two {
  top: 32%;
  left: auto;
  right: -14%;
  background: linear-gradient(-35deg, var(--pinktwo) 60%, var(--pink));
  transform: rotate(180deg);
  box-shadow: 0 0 0 0.05vw var(--black);
  z-index: -1;
}
.kirby_content .kirby_inner .hand.two:after {
  right: -20%;
  transform: rotate(11deg);
}
.kirby_content [class*='foot'] {
  width: 50%;
  height: 35%;
  position: absolute;
  background: var(--red);
  border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
  z-index: -1;
  box-shadow: inset 0.25vw -1vw 0.1vw 0 var(--brown), 0 0 0 0.05vw var(--black);
}
.kirby_content .foot-right {
  bottom: -6%;
  left: -10%;
  transform: rotate(19deg);
}
.kirby_content .foot-left {
  right: -10%;
  bottom: -7%;
  transform: rotate(15deg);
}

.p-countdown-dom {
  position: absolute;
  width: fit-content;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0);
  background: #fefcdf;
  padding: 1%;
  border: .5vw solid #E6226D;
}
.p-countdown-dom .counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 3vw;
}
.p-countdown-dom .entry {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 1vw;
  font-size: 3.8vw;
  color: #0F2E83;
  line-height: 3.2vw;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.p-countdown-dom .entry:first-child {
  margin: 0;
}

@keyframes eye {
  0% {
    background: var(--black);
  }
  51% {
    background: var(--black);
  }
  51.5% {
    background: transparent;
  }
  52% {
    background: var(--black);
  }
  52.5% {
    background: transparent;
  }
  53% {
    background: var(--black);
  }
  98% {
    background: var(--black);
  }
  98.5% {
    background: transparent;
  }
  99% {
    background: var(--black);
  }
  99.5% {
    background: transparent;
  }
  100% {
    background: var(--black);
  }
}

@keyframes eye-before {
  0% {
    top: 3%;
    background-color: var(--white);
    width: 60%;
    height: 45%;
  }
  51% {
    top: 3%;
    background-color: var(--white);
    width: 60%;
    height: 45%;
  }
  51.5% {
    top: 60%;
    background-color: var(--black);
    width: 200%;
    height: 2%;
  }
  52% {
    top: 3%;
    background-color: var(--white);
    width: 60%;
    height: 45%;
  }
  52.5% {
    top: 60%;
    background-color: var(--black);
    width: 200%;
    height: 2%;
  }
  53% {
    top: 3%;
    background-color: var(--white);
    width: 60%;
    height: 45%;
  }
  98% {
    top: 3%;
    background-color: var(--white);
    width: 60%;
    height: 45%;
  }
  98.5% {
    top: 60%;
    background-color: var(--black);
    width: 200%;
    height: 2%;
  }
  99% {
    top: 3%;
    background-color: var(--white);
    width: 60%;
    height: 45%;
  }
  99.5% {
    top: 60%;
    background-color: var(--black);
    width: 200%;
    height: 2%;
  }
  100% {
    top: 3%;
    background-color: var(--white);
    width: 60%;
    height: 45%;
  }
} 